@import 'compass/css3/transform'

.container-view
  background: url(../img/bg_grid.png)

  &.loading
    opacity: 0
    +transform(scale(0))

  .timeline
    position: fixed
    bottom: 0
    left: 0
    right: 0

    @media (max-height: $COMPACT_SCREEN_HEIGHT)
      right: $CONTROL_PANEL_WIDTH
