<ul class="$tabsContainer tabs-container">
  <li data-tab-name="export"><a href="#">Export</a></li>
</ul>
<ul class="$tabsContentContainer">
  <li class="$exportPanel" data-tab-name="export"></li>
</ul>
