<ul class="$tabsContainer tabs-container">
  <li data-tab-name="export"><a href="#">Export</a></li>
  <li data-tab-name="motion"><a href="#">Motion</a></li>
  <li data-tab-name="management"><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
  {{#showUserPanel}}
  <li data-tab-name="user"><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
  {{/showUserPanel}}
  <li class="$infoTab info-tab" data-tab-name="info"><a href="#">?</a></li>
</ul>
<ul class="$tabsContentContainer tabs-content-container">
  <li class="$exportPanel" data-tab-name="export"></li>
  <li class="$motionPanel" data-tab-name="motion"></li>
  <li class="$managementPanel" data-tab-name="management"></li>
  {{#showUserPanel}}
  <li class="$userPanel" data-tab-name="user"></li>
  {{/showUserPanel}}
  <li class="$infoPanel" data-tab-name="info"></li>
</ul>
