<ul class="$tabsContainer tabs-container">
  <li data-tab-name="export"><a href="#">Export</a></li>
  <li data-tab-name="motion"><a href="#">Motion</a></li>
</ul>
<ul class="$tabsContentContainer tabs-content-container">
  <li class="$exportPanel" data-tab-name="export"></li>
  <li class="$motionPanel" data-tab-name="motion"></li>
</ul>
