@import ../../../../styles/variables

.control-panel-view
  background: $PANEL_BACKGROUND_COLOR
  bottom: $TIMELINE_HEIGHT
  padding: $aenima-input-spacing
  position: fixed
  right: 0
  top: 0
  width: $CONTROL_PANEL_WIDTH
