<div class="modal-wrapper">
  <div class="content-wrapper fill">
    <h1>Mantra</h1>
    <p>Mantra is a timeline editing tool for web animations.  It provides a rich UI for adding, removing, and tweaking individual keyframes of an animation, enabling the fine-grained control necessary to create stunning visual effects.  The animations that Mantra generates are designed to take advantage of GPU acceleration for optimal performance, so <a href="https://www.html5rocks.com/en/tutorials/speed/high-performance-animations/" target="_blank">only CSS <code>transform</code> and <code>opacity</code></a> properties can be animated.</p>
    <h2>The timeline</h2>
    <img src="img/timeline.png" class="screenshot very-wide" alt="A screenshot of the Mantra timeline">
    <p>This is where most of the work done in Mantra happens.  This control allows you to add and define individual keyframe states of each animation property.  To add a new property to the timeline, use the selector under the property tracks and then press the <i class="glyphicon glyphicon-plus"></i> button.</p>
    <img src="img/new_property_select.png" class="screenshot narrow" alt="A screenshot of the New Property selector">
    <p>You can add as many keyframes as you like for each property.  To move where a keyframe is in the timeline, just drag it left and right with your mouse.  You can also drag the playhead to zip around the timeline.  If you make any change to the timeline that you don't want, you can use <strong>{{metaKey}} + Z</strong> to undo it.</p>
    <p>Clicking or dragging a keyframe property will make it &quot;active&quot; and turn it blue.  The currently selected keyframe property can then be modified in the Detail Panel to the left.</p>
    <h3>Detail Panel</h3>
    <img src="img/detail_panel.png" class="screenshot narrow" alt="A screenshot of the Detail Panel">
    <p>This panel allows you to modify the attributes of the currently selected keyframe property.  Here, you can manually edit the millisecond or value of the keyframe, as well as select an easing curve.  The <i class="glyphicon glyphicon-plus"></i> button will add a new keyframe of the same type to the timeline.  The <i class="glyphicon glyphicon-minus"></i> button will remove the currently selected keyframe property.  The <i class="glyphicon glyphicon-play"></i> and <i class="glyphicon glyphicon-stop"></i> buttons can be used to control animation playback.  You can also use the <strong>space bar</strong> on your keyboard to toggle playback.</p>
    <h2>The side bar</h2>
    <p>This set of controls is used to work with the timeline data and motion characteristics.</p>
    <h3>Export Panel</h3>
    <img src="img/export_panel.png" class="screenshot narrow" alt="A screenshot of the Export Panel">
    <p>Once you&#x27;ve tweaked the timeline to your liking, it is time to export it to be used in your project. From the &quot;Export&quot; tab in the side bar, you can export your animation as either <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation" target="_blank">CSS <code>@keyframes</code></a> or a <a href="https://jeremyckahn.github.io/rekapi/doc/" target="_blank">Rekapi</a> JavaScript animation.  Select the format you would like from the dropdown.</p>
    <h4>CSS animations</h4>
    <p>You can modify the generated CSS for your specific needs, such as the name of the CSS class on the DOM element to be animated, the number of times to iterate the animation, and which browser vendors you want to support. Mantra will optimize simpler animations, but more complex animations will generate very verbose CSS, so be aware of that. You can control the size of the generated CSS for complex animations with the slider above the CSS text box.  You can paste the generated CSS into <a href="https://codepen.io/jeremyckahn/pen/GJVJOr" target="_blank">this CodePen</a> to test it.</p>
    <h4>Rekapi animations</h4>
    <p>Depending on your project, it may make more sense to have JavaScript animations than CSS.  To get animation JSON that can be imported and run by Rekapi, select the &quot;Rekapi&quot; option from the dropdown in the &quot;Export&quot; Panel.  You can use <a href="https://jeremyckahn.github.io/rekapi-export-test/" target="_blank">this tool</a> to test out the exported data and learn how to integrate it into your project.</p>
    <img src="img/rekapi_export.png" class="screenshot narrow" alt="A screenshot of the Rekapi export pane.">
    <h3>Motion Panel</h3>
    <p>In addition to the standard easing curves, you can define your own custom curves in the &quot;Motion&quot; tab.  To do this, select or create a "customEasing" from the dropdown and drag the circular handles.  You can also type in the coordinates for the control points.  Once you have defined your custom curve, you can select it in the Details Panel for the currently selected keyframe property.</p>
    <img src="img/motion_panel.png" class="screenshot wide" alt="A screenshot of the Motion Panel.">
    <h4>Onion skin view</h4>
    <p>Onion skin view allows you to see visualize the entire life cycle of the animation at once.  To use it, check &quot;Show onion skin&quot; or press the <strong>O key</strong> on your keyboard.</p>
    <h3><i class="glyphicon glyphicon-cog"></i> Panel</h3>
    <p>You can save your animations to <a href="https://www.html5rocks.com/en/features/storage" target="_blank">HTML5 Local Storage</a>.  To do this, open the <i class="glyphicon glyphicon-cog"></i> panel and type in the name of your animation.  You can also recall saved animations from here.</p>
    <img src="img/save_load.png" class="screenshot" alt="A screenshot of the Gear Panel.">
    <p>If you'd like to clear out the timeline and start over, click the <strong>Reset timeline</strong> button.</p>
    <h2>Tween Editor</h2>
    <p><a href="https://jeremyckahn.github.io/stylie/" target="_blank">Stylie</a> is a powerful tool for quickly and easily modifying animations, and it is embedded into Mantra as the <strong>Tween Editor</strong>.  To open it, press the <strong>T key</strong> on your keyboard.  When you have tweaked the animation to your liking in the Tween Editor, you can then export it for more fine-grained modification in Mantra's Timeline Editor by pressing the green <i class="glyphicon glyphicon-ok"></i> button in the upper-right of the screen.  You can also close Stylie by pressing the red <i class="glyphicon glyphicon-remove"></i> button in the upper-left, or by pressing the <strong>Escape key</strong>.</p>
    <p>The Stylie-based Tween Editor has many powerful features.  To learn more about how to use it effectively, head over to the <a href="https://jeremyckahn.github.io/stylie/" target="_blank">standalone Stylie application</a> and check out its manual (hit the yellow <strong>?</strong> button at the top or press the <strong>H</strong> key).</p>
    <img src="img/tween-editor.png" class="screenshot wide" alt="A screenshot of the Tween Editor.">
    <h2>Keyboard shortcuts</h2>
    <p>Mantra has a few keyboard-activated features:</p>
    <table>
      <thead>
        <tr>
          <th colspan="2"><em>(When no inputs are focused)</em></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>H</td>
          <td>Toggle this Help screen</td>
        </tr>
        <tr>
          <td>O</td>
          <td>Toggle Onion Skin view</td>
        </tr>
        <tr>
          <td>T</td>
          <td>Launch Tween Editor</td>
        </tr>
        <tr>
          <td>Space bar</td>
          <td>Play/pause the animation</td>
        </tr>
        <tr>
          <td>{{metaKey}} + Z</td>
          <td>Undo last timeline change</td>
        </tr>
      </tbody>
    </table>
    <h3>Tween Editor keyboard shortcuts</h3>
    <p>These shortcuts become active when the Tween Editor is open.</p>
    <table>
      <thead>
        <tr>
          <th colspan="2"><em>(When no inputs are focused)</em></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>R</td>
          <td>Toggle keyframe rotation Cubelets</td>
        </tr>
        <tr>
          <td>K</td>
          <td>Add a new Keyframe</td>
        </tr>
        <tr>
          <td>C</td>
          <td>Toggle the Control Pane</td>
        </tr>
        <tr>
          <td>T</td>
          <td>Toggle the Timeline Scrubber</td>
        </tr>
        <tr>
          <td>H</td>
          <td>Toggle this Help screen</td>
        </tr>
        <tr>
          <td>P</td>
          <td>Toggle this crosshairs and path guide</td>
        </tr>
        <tr>
          <td>Space bar</td>
          <td>Play/Pause the animation</td>
        </tr>
        <tr>
          <td>Esc</td>
          <td>Close the Tween Editor</td>
        </tr>
        <tr>
          <td>Shift + crosshair click</td>
          <td>Select multiple keyframes</td>
        </tr>
        <tr>
          <td>{{metaKey}} + Z</td>
          <td>Undo last timeline change</td>
        </tr>
        <tr>
          <td>{{metaKey}} + A</td>
          <td>Select all keyframes</td>
        </tr>
      </tbody>
    </table>
    <h2>This tool is open source</h2>
    <p>The code <a href="https://github.com/jeremyckahn/mantra" target="_blank">lives on Github</a>. You are free to do what you please with the code - Mantra is distributed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">CC BY-NC-SA 4.0 license</a>.  Don't worry, this license does not extend to the animations you create with Mantra, just the application itself.  You are free to use the animations created by Mantra however you please.  If you would like to request a feature, please do so with the <a href="https://github.com/jeremyckahn/mantra/issues" target="_blank">project's issue tracker</a>.</p>
    <a class="badge" href="https://codeclimate.com/github/jeremyckahn/mantra" target="_blank"><img src="https://codeclimate.com/github/jeremyckahn/mantra/badges/gpa.svg" alt="Code Climate badge"></a>
    <h2>How it's made</h2>
    <p>Mantra is built with some very useful open source libraries:</p>
    <ul class="bulleted">
      <li><a href="https://jeremyckahn.github.io/rekapi/doc/" target="_blank">Rekapi</a></li>
      <li class="nested">
        <ul>
          <li><a href="https://jeremyckahn.github.io/shifty/doc/" target="_blank">Shifty</a></li>
        </ul>
      </li>
      <li><a href="https://github.com/jeremyckahn/rekapi-timeline" target="_blank">rekapi-timeline</a></li>
      <li><a href="https://github.com/jeremyckahn/stylie" target="_blank">Stylie</a></li>
      <li><a href="https://github.com/Jellyvision/lateralus" target="_blank">Lateralus</a></li>
      <li class="nested">
        <ul>
          <li><a href="https://backbonejs.org/" target="_blank">Backbone</a></li>
          <li><a href="https://lodash.com/" target="_blank">Lo-Dash</a></li>
        </ul>
      </li>
      <li><a href="https://jeremyckahn.github.io/keydrown/" target="_blank">Keydrown</a></li>
      <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
      <li class="nested">
        <ul>
          <li><a href="https://github.com/jquery/jquery-mousewheel" target="_blank">jQuery Mouse Wheel</a></li>
          <li><a href="https://github.com/jeremyckahn/dragon" target="_blank">jQuery Dragon</a></li>
          <li><a href="https://github.com/jeremyckahn/cubelet" target="_blank">jQuery Cubelet</a></li>
        </ul>
      </li>
      <li><a href="https://github.com/janl/mustache.js/" target="_blank">mustache.js</a></li>
      <li><a href="https://compass-style.org/" target="_blank">Compass</a></li>
    </ul>
    <p>Font icons are courtesy of:</p>
    <ul class="bulleted">
      <li><a href="https://glyphicons.com/" target="_blank">Glyphicons</a></li>
    </ul>
  </div>
</div>
