<div class="fill stylie-wrapper">
  <div class="frame-bar">
    <button class="bordered-icon cancel" title="Close this editor"><i class="glyphicon glyphicon-remove"></i></button>
    <h1>Tween Editor</h1>
    <button class="bordered-icon confirm" title="Modify this animation with the Timeline Editor"><i class="glyphicon glyphicon-ok"></i></button>
  </div>
  <div class="$stylieRoot"></div>
</div>
