<h1>Mantra</h1>
<h2>A professional web animation tool for everyone</h2>
<p>Please <a href="https://github.com/jeremyckahn/mantra/issues" target="_blank">report any bugs you find</a>.  In addition to bug reports, feedback and feature requests are welcomed!</p>
<p>Feel free to <a href="https://github.com/jeremyckahn/mantra" target="_blank">follow this project on Github</a>.</p>
<p>Mantra is distributed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">CC BY-NC-SA 4.0 license</a> and is developed with <i class="glyphicon glyphicon-heart"></i> by <a href="https://twitter.com/jeremyckahn" target="_blank">Jeremy Kahn</a>.</p>
<hr>
<button class="wide help">How to use Mantra</button>
